{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

    <h1>Taux de change en temps réel de ACP</h1>
    <p>Le taux de change de btc en USD est de {{ data.btcRate }}.</p>

{% endblock %}
